<tr>
  <td><%= experiment.name.humanize %></td>
  <td><%= "#{experiment.num_buckets} (0-#{experiment.num_buckets-1})" %></td>
  <td><%= experiment.population || "default" %></td>
  <td><%= experiment.notes.try(:gsub, "\n", '<br>').try(:html_safe) %></td>
  <td><%= experiment.start_date.try(:in_time_zone).try(:strftime, "%D %r %Z") %></td>
  <% if @include_inactive %>
    <td><%= experiment.winning_bucket %></td>
    <td><%= experiment.end_date.try(:in_time_zone).try(:strftime, "%D %r %Z") %></td>
    <td><%= experiment.removed_at.try(:in_time_zone).try(:strftime, "%D %r %Z") %></td>
  <% else %>
    <td>
      <%= hidden_field_tag "exp-#{experiment.id}", experiment.id %>
      <%= select_tag "exp-#{experiment.id}-buckets", options_for_select((0..experiment.num_buckets-1).to_a.insert(0, ['-- select --', -1])), class: 'set_winner' %>
    </td>
  <% end %>
