<h1> New Experiment</h1>
<br />
<%= form_for(@experiment, url: @experimental_path_names.index) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@experiment.errors.count, "error") %>
        probited this experiment from being saved:
      </h2>
      <ul>
        <% @experiment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label :num_buckets %>
    <br />
    <%= f.text_field :num_buckets %>
  </p>
  <p class="field">
    <%= f.label :notes %>
    <br />
    <%= f.text_area :notes, cols: "30", rows: "5" %>
  </p>

  <p class="actions" >
    <%= f.submit %>
  </p>
<% end %>
